html
  height 100%

body
  height 100%

#app
  height 100%

.appDiv
  height 100%

.nav
  display flex
  justify-content space-between
  width 100%
  padding 10px 20px
  align-items center

.nav img
  height 120px

.nav h1
  font-size 7.5rem

.home
  height 100%

#homeImg
  height 35%

.home img
  height 170px
  border 1px solid blue
  padding 15px
  border-radius 14px

#more1
  position absolute
  top 400px
  left 30px
  border-radius 14px
  transform rotate(-25deg)

#car
  position absolute
  top 305px
  left 430px
  transform rotate(0deg)

.active img
  background yellow


#mother
  position absolute
  top 330px
  left 220px
  transform rotate(-15deg)

#vote
  position absolute
  top 330px
  left 630px
  transform rotate(15deg)


#more2
  position absolute
  top 400px
  left 830px
  transform rotate(25deg)

.logo
  height 100%
  display flex
  justify-content center


.logo img
  border none
  height 800px

#teamsImg
  position absolute
  bottom 0px
  left 0px
  height 150px

#filter
  position absolute
  bottom 0px
  right 0px
  height 150px
  transform rotate(90deg)

.streams
  height 100%

.streams img
  border none

#streamBox
  display flex
  justify-content center
  font-size 10rem
  margin 0 15%
  height 850px
  overflow scroll

#streamBox ul li
  padding 20px 50px
  list-style none
  border 1px solid blue
  border-radius 14px
