
html, body, div, section, nav, header, footer, aside, ul, li, ol, form, button,
img, span, input, textarea, select, option, small, strong, em, svg, a,
h1, h2, h3, h4, h5, h6, p
  margin 0
  padding 0
  border none
  outline none
  box-sizing border-box


body, div, section, aside, nav, header, footer, ul, ol, form



html

  font-size 62.5%


body
  font-size 1.6rem // 16px
  font-family 'Lato', sans-serif
  font-weight 300
  line-height 1.45
  color black



a
  color black
  text-decoration none


a:active
  color black

a:hover


a:

a:visited
  color black


h1
  font-size 3.8rem


h2
  font-size 3.2rem

input
  &::-webkit-input-placeholder
    transition 1s all

  &:focus::-webkit-input-placeholder
    opacity: 0

#root
  width 100%
